SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
DEBUG=1
APP_URL=http://nialike-django.test
APP_TIMEZONE=Africa/Dar_es_Salaam

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nialike_django
DB_USER=root
DB_PASS=

NEXTSMS_ENABLED=0
NEXTSMS_BASE_URL=https://www.nextsms.co.tz/api
NEXTSMS_API_KEY=
NEXTSMS_SENDER_ID=NIALIKE

PALMPESA_ENABLED=0
PALMPESA_BASE_URL=https://palmpesa.drmlelwa.co.tz/api
PALMPESA_USER_ID=
PALMPESA_API_TOKEN=
PALMPESA_TOKEN_PATH=/token
PALMPESA_INITIATE_PATH=/payments/initiate
PALMPESA_STATUS_PATH=/payments/status
PALMPESA_WEBHOOK_SECRET=
